@model Erp_TEST.Models.ViewModel.Projects.ProjectsViewModel

<div id="container">
    <h4 style="color:brown;text-align:center;"> <b>&nbsp; &nbsp; Проекти </b></h4>

</div>
<hr />


@if (string.IsNullOrEmpty(Model.UserRole))
{
    <form asp-action="CreateSubmit" asp-controller="Project">
        &nbsp;&nbsp;
        <span id="newcat"> <a asp-action="Create">Добавити</a></span>
    </form>
    <hr />
    if (/*Model.UserRole == "Admin"*/ true)
    {
        <form asp-action="Index" asp-controller="Project">
            &nbsp;&nbsp;

            <input type="hidden" name="currentPage"  />
            <input type="text" name="titleOrganizationType" placeholder="Title, Organization, Type" />

            &nbsp; &nbsp;&nbsp;
            &nbsp; &nbsp;&nbsp;
            <button type="submit"> Пошук </button>
        </form>
    }


}

<hr />

<div class="cont" id="container">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Organization</th>
                <th>Start</th>
                <th>End</th>
                <th>Role</th>
                <th>Link</th>
                <th>Skills</th>
                <th>Attachments</th>
                <th>Type</th>
                <th>Create</th>
                <th>Updated</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var proj in Model.ProjectsVm)
            {

                <tr data-productrowid="@proj.Id">
                    <td><a href="@Url.Action("AboutProject", "Project", new { Id = proj.Id })">@proj.Title</a></td>
                    <td>@proj.Description</td>
                    <td> @proj.Organization</td>
                    <td>@proj.Start</td>
                    <td>@proj.End</td>
                    <td>@proj.Role</td>
                    <td>@proj.Link</td>
                    <td>@proj.Skills</td>
                    <td>@proj.Attachments</td>
                    <td>@proj.ProjectType</td>
                    <td>@proj.Create</td>
                    <td>@proj.Update</td>
                    <td>
                        @if (string.IsNullOrEmpty(Model.UserRole))
                        {
                            <form asp-action="EditProject" asp-controller="Project" asp-route-id="@proj.Id">
                                <button type="submit">
                                    Редагувати
                                </button>
                            </form>

                        }

                    </td>
                </tr>

            }
        </tbody>
    </table>
    @if (string.IsNullOrEmpty(Model.UserRole) && Model.UserRole == "Admin")
    {
        <form asp-action="DeleteAll" asp-controller="Project">
            <button type="submit">
                Delete all
            </button>
        </form>
    }

</div>

